h1{
    text-align: center;
}
body{
    margin: 2em 10em;
    border: 1px solid rgb(172, 172, 172);
    font-family: sans-serif;
    background: radial-gradient(circle, #fff, #bbb);
    text-align: center;
}
nav{
    background: radial-gradient(circle, #bbb, #fff);

}
nav:hover{
    background: radial-gradient(circle, #fff, #bbb);

}
h1{
    color: blue;
    padding: 1em;
    text-align: center;
}
img{
    border: 1px solid gray;    
}
textarea{
    margin-top: 2em;
    width: 90%;
    border: none;

}
/* -------------------------------------- */
/* alineacion */
